{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{project_plugins, [rebar3_ex_doc]}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]},
    {plt_extra_apps, [crypto]}
]}.

{relx, [
    {release, {erlkoenig_elf, "0.1.0"}, [
        sasl,
        crypto,
        compiler,
        erlkoenig_elf
    ]},
    {mode, minimal},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args_src, "config/vm.args.src"},
    {overlay, [
        {copy, "dist/erlkoenig_elf.service", "dist/erlkoenig_elf.service"},
        {copy, "bin/erlkoenig-elf",           "bin/erlkoenig-elf"}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true},
            {include_src, false},
            {debug_info, strip}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {extra_src_dirs, ["test/syscall_matrix"]},
        {deps, []}
    ]}
]}.
